<div class="row">
  <div class="input-field col s6">
    <input type="text" [(ngModel)]="searchText" (keyup.enter)="searchFor()">
    <span class="helper-text">Buscar por...</span>
  </div>
  <div class="input-field col s4">
    <select id="searchField" style="display: block" [(ngModel)]="searchField">
      <option *ngFor="let v of optionValues" value="{{v.value}}" selected>{{v.label}}</option>
    </select>
  </div>
  <div class="input-field col s2">
    <button class="btn" (click)="searchFor()">Ir</button>
  </div>
</div>
