bin
classes
conf/security.conf
/dist
/dist-server
logs
node_modules
target
tmp
project/project
project/target
ui/node_modules
/out
/.cache
/.tmpBin
/.tern-project
/.history
/.project
/.settings
/RUNNING_PID
/*.iml
/*.log

# IDEs and editors
/.idea
/.idea_modules
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# e2e
/ui/e2e/*.js
/ui/e2e/*.map

# System Files
.DS_Store
Thumbs.db


