.sidebar {
  margin: 0;
  min-width: 25%;
  border: 1px solid green;
}

.left {
  float: left;
}

.right {
  float: right;
}

.main-chat {
  border: 1px solid red;
  float: left;
  width: 50%;
  margin: 0;
}